body{
    background-color: #121212;
    font-family: "Poppins";
    overflow-x: hidden;

}


.experience{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.6rem;
    color: white;
    margin-bottom: 6rem;
    padding-top: 8rem;

    .header-div{
        h1{
            font-size: 1.6rem;
        }
    }


    .experience-box{
        box-shadow: 0 0 2px rgb(93, 180, 252);
        border-radius: 1rem;

        width: 900px;
        height: 200px;
        display: flex;
        gap: 10px;
        transition: all 0.3s ease-in-out;
        background: #121212;

        &:hover{
            transform: translateY(-8px);
        }

        .experience-box-left{
            
    
            img{
                width: 300px;
                height: 200px;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
    
            }
        }

        .experience-box-right{
            display: flex;
            flex-direction: column;
            padding: 1rem ;
            gap: 1rem;

            .experience-box-right-header{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1{
                    font-size: 1.1rem;
                }

                p{
                    font-size: 0.8rem;
                }
            }

            .experience-box-right-details{
                p{
                    font-size: 0.8rem;
                    color: rgba(255, 255, 255, 0.801);
                    padding: 0.5rem 0;
                }
            }

        }


    }

}

.sidebar-container {
    position: absolute;
    top: 0%; 
    min-height: 100%;

    .sidebar {
        position: sticky;
        top: 50%; 
        left: 20%;
        width: 100px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 10px;


        .social-icon{
            transition: all 0.3s ease-in-out;


            &:hover{
                transform: translateX(4px);

            }

            &.ig{
           
            }
           
        }
    }
}
.banner{
    height: 40vh;
    background-color: #121212;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background5.avif) no-repeat center;
    background-size: cover;
    position: relative;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.084);

 
    
}

.banner-image{
    height: 40vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.2;
    position: relative;
}

.banner-text{
    color: whitesmoke;
    font-family: "Poppins";
    height: 40vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    bottom: 0;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    margin-bottom: 3rem;
    
   
}


.banner-component{
    font-family: "Poppins";

}

.links-for-mobile{
    z-index: 99;
    visibility: hidden;
}

.button-to-top{
    color: white;
    position: sticky;
    bottom: 0;
}



.banner-text h1{
    font-size: 3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}

.banner-line{
    width: 20rem;
    border-bottom: 1px solid white;
}

.banner-text-p{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 1rem;
    font-size: 1.2rem;
}

.banner-component{
    position: absolute;
    bottom: -18%;
    font-family: "Poppins";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    margin: 0 auto;
    width: 100%;
    margin-left: 1rem;

    span:hover{
        color: rgb(93, 180, 252);
        cursor: pointer;
        transition: all 0.5s ease;
    }
    

    img{
        height: 20vh;
        border-radius: 50%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 4px;

        &:hover{
            transform: scale(1.03);
            transition: all 0.5s ease-in-out

        }
    }
}


.arrow{
    .icon{
        animation: arrowAnimation 1s alternate infinite;

        position: absolute;
        bottom: 0;
        left: 50%;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 3rem;
    }
}

.about{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.about-text{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: white;

    h1{

        .wave{
            display: inline-block; /* Required for transform */
            animation: tilt 2s ease-in-out infinite;
        }
    }


    h1{
        font-weight: 500;

        span{
            font-weight: 600;
    
        }
    }
    
    
    
}

.about-text h1{
    text-align: center;
    margin: 2rem;
    font-size: 2.2rem;
    padding-bottom: 5vh;
    
}




.about-text p{
    margin: 1rem;
    font-size: 1.1rem;
}
.about-text span{
    color: rgb(129, 197, 252);;
}




.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 16rem;
}

.projects-h1{
    color: white;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    margin: 2rem;
}


.projects-box{
    color: whitesmoke;
    font-family: 'Mada', sans-serif;
    border-radius: 1rem;
    height: 18rem;
    max-width: 60rem;
    box-shadow: 0 0 2px rgb(93, 180, 252);
    background-size: 100% 100%;
    display: flex;
    transition: all 0.5s ease-in-out;
    align-items: center;
    background: #121212;

}

.projects-box:hover{
    transform: translateY(-10px);

}

.links-for-mobile{
    position: absolute;
    top: 5%;
    font-family: "Poppins";
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}


.projects-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;

    .project-name{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        p{
            font-size: 0.8rem;
            font-family: 'Montserrat Alternates', sans-serif;
        }
    }
}

.project-technologies{
    display: flex;
    gap: 4px;
}

.project-technologies span{
    background-color: rgb(93, 180, 252);

    border-radius: 10px;
    padding: 2px 12px;
    color: black;
}

.projects-box img{
    object-fit: cover;
    max-height: 18rem;
    max-width: 30rem;
    border-radius: 1rem;
}

.project-links{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding-bottom: 10px;

    a{
        text-decoration: none;
        color: inherit;
    }
}

.project-icons:hover{
    cursor: pointer;
    scale: 1.2;
    transition: all 0.5s ease;
    color: rgb(93, 180, 252);
}

.projects-info p{
    font-size: 1.05rem;
}

.footer{
    background-color: rgba(23, 70, 109, 0.469);;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 5vh;
    display: flex;
    padding: 2rem 20rem;
    align-items: center;
    justify-content: space-between;
}
.footer h1{
    font-size: 1rem;
}

.footer-links{
    display: flex;
    gap: 1rem;
}

.footer-links a{
    color: inherit;
    text-decoration: none;
}

.footer-icon{
    font-size: 1.2rem;
}

.footer-icon:hover{
    cursor: pointer;
    color: rgb(93, 180, 252);
}

.technologies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16vh, 1fr));
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tech-box{
    min-height: 14vh;
    max-width: 14vh;
    color: white;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 1.2px rgb(93, 180, 252);
    background-size: 100% 100%;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;

}

.tech-box:hover{
    background-color: rgb(93, 180, 252);;
    color: black;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
    .tech-icon{
        color: white;
    }

    h3{
        color: white;
    }
    
}

.tech-icon{
    font-size: 4rem;
    color: rgb(93, 180, 252);
}

.technologies-header{
    margin-bottom: 16rem;
    h1{
        color: white;
        font-family: "Poppins";
        display: flex;
        justify-content: center;
        margin: 2rem;
    }
}


.contact{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 10rem;

    button{
        padding: 1rem 2rem;
        font-family: "Poppins";
        outline: none;
        border: none;
        background-color: rgb(93, 180, 252);
        color: white;
        border-radius: 1rem;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;

        &:hover{
            cursor: pointer;
            background: white;
            color:black;


        }

    }
    
    h1{
        font-weight: bolder;
    }

    p{
        span{
            color: rgb(93, 180, 252);
        }
    }

    .contact-icons{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-size: 2rem;

        a{
            text-decoration: none;
            color: inherit;
        }

        .contact-icon{
            font-size: 1.4rem;

            &:hover{
                scale: 1.1;
                color: rgb(93, 180, 252);
                animation: all 0.3s ease-in-out;
                cursor: pointer;
            }
            
        }
    }
}
 

.loader{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-family: "Poppins";

    


    img{
        height: 16vh;
        object-fit: contain;
        animation: loaderAnimation 1.4s infinite alternate linear;
        

    }

    p{
        color: white;
        text-align: center;
        font-size: 1.4rem;
    }
}


@keyframes loaderAnimation {
    0% {
        transform: scale(1) translateX(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        ransform: translateX(0);
    }
}
@media screen and (max-width: 1000px){

    
    
    .experience{
        

        .experience-box{
            
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 400px;
            height: auto;
            box-shadow: none;

            .experience-box-left{
                img{
                    border-top-right-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                }
            }

            .experience-box-right{

                .experience-box-right-details{
                    margin: 0 0.4rem;
                }

                .experience-box-right-header{

                    h1{
                        font-size: 0.9rem;
                        padding: 10px;
                    }

                    flex-direction: column;
                }
            }
        }
    }
    

    .banner{
        height: 40vh;
        
        .banner-image{
            height: 40vh;
        }

        .banner-text{
            padding: 4rem 0;
        }

        .banner-my-image{
            position: absolute;

            img{
                position: static;
            }
        }

        .links{
            font-size: 0.8rem;
            text-decoration: underline;
        }
    }

    .projects-h1{
        font-size: 1.4rem;

    }

    .links-for-mobile{
        display: flex;
        gap: 1rem;
        visibility: visible;
        font-size: 1rem;
        padding-bottom: 1rem;

        span{
            display: inline; 

        }


        .icon{
            display: none;
        }
    }

    .banner-component{
        
        margin: 0;

      
       
    }

    .banner-component span{
        display: none;

       
    }

    .about{
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }


    .projects-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8rem;
        box-shadow: none;

        .project-name{
            border-bottom: 1px solid white;

        }
        .project-technologies span{
            align-items: center;
        }
    }

    .projects-box img{
        display: flex;
        flex-direction: column;;
        object-fit: cover;
        max-height: 16rem;
        max-width: 20rem;
        border-radius: 1rem;
    }

    .links{
        width: 100%;
        display: flex;
        justify-content: center;
        top: 2rem;
        gap: 1rem;

        .icon{
            display: none;
        }
    }

    .project-technologies{
        span{
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
    
    .links-span1{
        display: flex;
        
        gap: 1rem;
    }
    
    .links-span2{
        display: flex;
        gap: 1rem;
    }

    .footer{
        padding: 0;
        justify-content: space-around;
    }

    .technologies-header{
        .technologies{
            justify-content: center;
            width: 80vw;

            .tech-icon{
                padding: 10px;
            }
         

            .tech-box{

                h3{
                    font-size: 0.8rem;
                }
            }
        }
        h1{
            text-align: center;
            font-size: 1.2rem;

        }
    }

    .about{

        .about-text{
            h1{
                padding-bottom: 0;
                margin-top: 3rem;
                font-size: 1.4rem;
                
            }

            p{

                font-size: 0.8rem;
                padding: 0 1rem;
            }

        }
    }

    

    .tech-icon{
        font-size: 3.4rem;
        color: rgb(151, 139, 186);
    }

    .sidebar-container{
        display: none;
    }



    
}
@keyframes arrowAnimation{
    from {transform: translateY(-30px);}
}

@keyframes tilt {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
}